html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans, Arial, sans-serif;
}

* {
    // border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./variables";

/*============ NavBar Section============*/

header {
    @include flex(row);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #677077;
    border-top: 1px solid #677077;
    padding: 1.2rem;
    font-size: $navFooterFont;
    img {
        width: 10rem;
        margin-right: 1.1rem;
    }
    form {
        display: flex;
        flex-wrap: nowrap;
        input {
            width: 170px;
            padding: 0.8rem;
            font-size: $navFooterFont;
            margin-left: 0.5rem;
        }
        label {
            background-color: $darkBlue;
            padding: 1rem;
            color: #fff;
            margin-left: -5px;
            display: inline-block;
        }
    }
    nav {
        margin-left: auto;
        @include flex(row);
        gap: 1.5rem;
        .links {
            white-space: nowrap;
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: underline;
                display: inline-block;
                color: $darkBlue;
            }
        }
        .logIn {
            color: $darkBlue;
        }
    }
    .join {
        text-align: center;
        width: 140px;
        color: #fff;
        margin-left: 1rem;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
            background-color: darkblue;
        }
    }
    .hide,
    .menu {
        display: none;
    }
    .touchable {
        background-color: $darkBlue;
        color: #fff;
        padding: 0.7rem 1.5rem;
        font-weight: bold;
        border-radius: 3px;
    }
}

//=========== Navbar section Ends============
//==========Learn Without Limits Section starts====
#learn {
    margin: 10rem 1rem 3rem 15rem;
    @include flex(row);
    .learnContent {
        @include flex(column);
        margin-top: 10rem;
        width: 550px;
        h1 {
            font-size: 64px;
            white-space: nowrap;
            margin-bottom: 3rem;
        }
        p {
            font-size: $primaryFont;
            margin-bottom: 3rem;
        }
    }
    img {
        width: 43%;
        margin-left: auto;
    }
    .buttonDiv {
        @include flex(row);
        gap: 1rem;
        text-align: center;
        font-size: $navFooterFont;
        font-weight: bold;
        .joinFor {
            color: #fff;
            background-color: $darkBlue;
            padding: 1rem;
            border-radius: 4px;
            text-decoration: none;
            width: 140px;
        }
        .try {
            border: 2px solid $darkBlue;
            border-radius: 4px;
            color: $darkBlue;
            text-decoration: none;
            width: 280px;
            padding: 1rem;
        }
    }
}

//==========Learn Without Limits Section Ends====
//============Universities section starts========
#universities {
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 25rem;
    h2 {
        margin-top: 5rem;
        font-size: 28px;
        font-weight: 600;
    }
    span {
        color: $darkBlue;
        &:hover {
            text-decoration: underline;
        }
    }
    .images {
        width: 120%;
    }
    .imageBox {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        margin-top: 5rem;
    }
}

//============Universities section ends =============
@media (max-width: 1200px) {
    header {
        justify-content: center;
        .touchable,
        .navbar,
        .form {
            display: none;
        }
        .hide {
            display: block;
            color: #000;
            position: absolute;
            right: 1rem;
            font-size: 24px;
        }
        .menu {
            display: block;
            color: #000;
            position: absolute;
            left: 1rem;
            font-size: 24px;
        }
        img {
            width: 10rem;
        }
    }
    #learn img {
        display: 38%;
    }
}

@media (max-width: 1000px) {
    #learn img {
        display: none;
    }
}