html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./variables";

/*============ NavBar Section============*/

header {
    @include flex(row);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    border-bottom: 1px solid #373a3c;
    border-top: 1px solid #373a3c;
    color: #373a3c;
    font-family: OpenSans, Arial, sans-serif;
    padding: 2rem;
    gap: 2rem;
    font-size: 20px;
    img {
        width: 13rem;
    }
    form {
        input {
            padding: 1rem;
            font-size: 20px;
        }
        label {
            background-color: darkblue;
            padding: 1rem;
            color: #fff;
        }
    }
    nav {
        margin-left: auto;
        @include flex(row);
        gap: 1.5rem;
        .links {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                display: inline-block;
                color: $darkBlue;
            }
        }
        .join {
            color: #fff;
            background-color: $darkBlue;
            padding: 0.5rem;
            &:hover {
                text-decoration: none;
                background-color: darkblue;
            }
        }
    }
    .hide {
        display: none;
    }
    .touchable {
        background-color: darkblue;
        color: #fff;
        padding: 1rem 2rem;
        font-size: 22px;
        font-weight: bold;
    }
}

@media (max-width: 1400px) {
    header {
        justify-content: center;
        .touchable,
        .navbar,
        .form {
            display: none;
        }
        .hide {
            display: block;
            color: #000;
            position: absolute;
            right: 1rem;
        }
    }
}